/vendor/
node_modules/
npm-debug.log
*.cache
*.phar
*.lock
package-lock.json
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
*.cache
*.lock
package-lock.json
vendor/
*.lock
package-lock.json
*.lock
package-lock.json
node_modules
docs/node_modules/
