includes:
    - phpstan-baseline.neon
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    level: 1

    paths:
        - .

    excludePaths:
        - ./vendor/*
        - ./docs/*
        - ./Tests/*
    
    bootstrapFiles:
        #- ./Modules/Xot/Services/vendor/autoload.php

    scanFiles:
        #- ./Modules/Xot/Helpers/Helper.php
        - ./vendor/amenadiel/jpgraph/src/config.inc.php
    

    checkModelProperties: true
    checkMissingIterableValueType: false
